/*ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
li{
    border: 1px solid red;
    padding: 5px 20px;
    background: url(../imagens/seta.png) no-repeat left;
}
*/
ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
ul a{
    color: black;
    text-indent: 30px;
    line-height: 40px;
    text-decoration: none;
    width: 200px;
    height: 40px;
    display: block;
    background: url(../imagens/menu.png) no-repeat left;
}
ul a:hover{
    background-position: right;
    color: white;
}