@font-face {
    font-family: "fantasma";
    src: url('../fontes/iknowaghost.woff');
}
@font-face {
    font-family: "Ancião";
    src: url('../fontes/Ancient-Medium.woff');
}
@font-face {
    font-family: "Heart";
    src: url('../fontes/BringHeart.woff');
}
@font-face {
    font-family: "Madelina";
    src: url('../fontes/MadelinaScript.woff');
}