*{
    margin: 0 auto;
    padding: 0%;
}
/*animação*/
@keyframes animacao-caixa {
    /*estilo inicial*/
    from{
        background: red;
        border-radius: 0px;
        top: 0px;
        left: 0px;
    } 
    /*formatação final*/
    to{
        background: green;
        border-radius: 300px;
        top: 200px;
        left: 200px;
    } 
}
@keyframes carregando {
    0% {background-color:red; left:0px; top:0px; border-radius: 0px;}
  25%  {background-color:yellow; left:200px; top:0px; border-radius: 300px;}
  50%  {background-color:blue; left:200px; top:200px; border-radius: 0px;}
  75%  {background-color:green; left:0px; top:200px; border-radius: 300px;}
  100% {background-color:red; left:0px; top:0px; border-radius: 0px;}
}
/*tudo*/
#caixa{
    width: 300px;
    height: 300px;
    position: relative;
    background: red;
    animation: carregando 1s 1s 5 alternate;
    /*name duration delay count direction*/

 /* animation-name: animacao-caixa;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate;*/

    /*reverser de tras para frente na animação
    iteration-count quantas vezes vai fazer a animação
    duration para a duração da animação
    animation name é qual ele vai carregar*/
}